// declare variable
$primary_color: rgb(0, 171, 85);
$background_color: rgba($primary_color, 0.08);

$sidebar_width: 280px;
$header_height: 56px;

$sidebar_Zindex: 1000;
$header_Zindex: $sidebar_Zindex - 1;
